#root {
    display: flex;
    flex-wrap: wrap;
}


/* Player Starting Positions */
.grid81 {
    background-color: blue;
    border-radius: 50%;
}

.grid82 {
    background-color: blue;
    border-radius: 50%;
}


.grid91 {
    background-color: blue;
    border-radius: 50%;
}

.grid92 {
    background-color: blue;
    border-radius: 50%;
}


.grid9 {
    background-color: red;
    border-radius: 50%;
}

.grid10 {
    background-color: red;
    border-radius: 50%;
}

.grid19 {
    background-color: red;
    border-radius: 50%;
}

.grid20 {
    background-color: red;
    border-radius: 50%;
}

/* Board Positions */
.position {
    background-color: beige;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Blue Homes */
.blueHomes {
    background-color: blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.blueCorners {
    background-color: blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}




/* First Position Arrows */
/* .firstBlue {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.blueArrow {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid blue;
  }
  .firstRed {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .redArrow {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid red;
  } */