body {
    display: flex;
}

#root {
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
}
#instructions {
    width: 400px;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 60px;
}

/* Die Text */
.die {
    color: white;
    font-size: 40px;
}

.player {
    width: 50px;
    height: 50px;
    background-color: lightBlue;
}

.redplayer {
    width: 50px;
    height: 50px;
    background-color: pink;
}

/* Board Positions */
.position {
    background-color: grey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Blue Positions */
.blueHomes {
    background-color: blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.blueCorners {
    background-color: blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Red Positions */
.redHomes {
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.redCorners {
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



/* Optional/Directional Arrows */
.firstBlue {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.blueArrow {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid blue;
  }
  .firstRed {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .redArrow {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid red;
  }